.header__lang-link {    
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin: 0;
    text-decoration: none;
    transition: opacity 0.4s ease;
    margin-left: 18px;
}

.header__lang-link:hover {
    opacity: 80%;   
}

@media screen and (max-width: 768px) {
    .header__lang-link {
        font-size: calc(24px - (768px - 100vw)*0.0133928571428);
        line-height: calc(28px - (768px - 100vw)*0.0178571428571);
    }
}