.places {
    margin: 92px 148px 0;
}

@media screen and (max-width: 1280px) {
    .places {
        margin-left: calc(148px - (1280px - 100vw)*0.390625);
        margin-right: calc(148px - (1280px - 100vw)*0.390625);
    }
}

@media screen and (max-width: 1024px) {
    .places {
        margin-top: calc(92px - (1024px - 100vw)*0.015625);
        margin-left: calc(48px - (1024px - 100vw)*0.09375);
        margin-right: calc(48px - (1024px - 100vw)*0.09375);
    }
}

@media screen and (max-width: 768px) {
    .places {
        margin-top: calc(88px - (768px - 100vw)*0.2637362637362);
        margin-left: calc(24px - (768px - 100vw)*0.2637362637362);
        margin-right: calc(24px - (768px - 100vw)*0.2637362637362);
    }
}

@media screen and (max-width: 678px) {
    .places {
        margin-top: 64px;
        margin-left: 0;
        margin-right: 0;
    }
}