.header {
    margin: 28px 48px 0;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    .header {
        margin-left: calc(48px - (1024px - 100vw)*0.09375);
        margin-right: calc(48px - (1024px - 100vw)*0.09375);
    }    
}

@media screen and (max-width: 768px) {
    .header {
        margin-top: calc(28px - (768px - 100vw)*0.0267857142857);
        margin-left: calc(24px - (768px - 100vw)*0.0178571428571);
        margin-right: calc(24px - (768px - 100vw)*0.0178571428571);
    }    
}

