.lead__title {
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    color: #FFFFFF;
    max-width: 720px;
    margin: 0 auto;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .lead__title {
        font-size: calc(96px - (768px - 100vw)*0.125);
        line-height: calc(100px - (768px - 100vw)*0.125);
        width: calc(720px - (768px - 100vw)*0.9642857142857);
    }    
}