.place__paragraph {
    margin: 0 0 27px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
}

.place__paragraph:nth-last-child(1) {
    margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .place__paragraph {
        font-size: calc(18px - (1024px - 100vw)*0.0078125);
        margin-bottom: calc(27px - (1024px - 100vw)*0.0078125);
    }
}

@media screen and (max-width: 678px) {
    .place__paragraph {
        font-size: 16px;
        margin: 0 16px 25px;
    }    
}