.lead__image {
    width: 100%;
    max-width: 984px;
    background-image: url("../../../images/__image.jpg");
    background-size: contain;
    padding-bottom: 62.5%;
    margin-top: 64px;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (min-width: 1281px) {
    .lead__image {
        height: 615px;
        padding-bottom: 0;
    }
}

@media screen and (max-width: 1280px) {
    .lead__image {
        margin-top: calc(64px - (1280px - 100vw)*0.03125);
    }
}

@media screen and (max-width: 1024px) {
    .lead__image {
        margin-top: 56px;
    }
}

@media screen and (max-width: 768px) {
    .lead__image {
        margin-top: calc(56px - (768px - 100vw)*0.0357142857142);
    }
}