.cover__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
    margin: auto auto 0;
    max-width: 560px;
    text-align: center;
    position: relative;
    z-index: 3;
}

@media screen and (max-width: 768px) {
    .cover__title {
        font-size: calc(72px - (758px - 100vw)*0.0892857142857);
        line-height: calc(76px - (758px - 100vw)*0.0915178571428);
        max-width: calc(560px - (768px - 100vw)*0.6071428571428);
    }    
}