.lead__cover {    
    display: flex;
    flex-direction: column;
    min-height: 200px;
    margin: 56px auto 0;
 }

 @media screen and (max-width: 767px) {
    .lead__cover {
       margin: 40px auto 0; 
    } 
 }

 @media screen and (min-width: 1024px) {
    .lead__cover {
        margin: 56px 48px 0;
    }
 }
 
 @media screen and (min-width: 1280px) {
    .lead__cover {
        margin: 64px 148px 0;
    }
 }